{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center pt-5">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <form action="/" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="coin" class="form-label">Coin</label>
                                <select id="coin" name="coin" class="form-select">
                                    {% for ticker, coin in select %}
                                        <option value="{{ ticker }}">{{ coin }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="value" class="form-label">Value</label>
                                <input id="value" name="value" class="form-control" type="text" placeholder="value">
                            </div>
                         <div class="mb-3">
                                <label for="order_id" class="form-label">Order Id</label>
                                <input id="order_id" name="order_id" class="form-control" type="text" placeholder="order_id">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
